.taskApp {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.newTaskInput {
  width: 100%;
  padding: 4px 4px;
  font-size: 18px;
}

.tasksList {
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.taskItem span {
  padding-bottom: 4px;
}

.tasksFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTabs {
  display: flex;
  gap: 6px;
}

.activeTab,
.activeTab:hover,
.activeTab:focus,
.activeTab:focus-visible {
  border: none;
  color: #646cff;
  outline: none;
}
