.taskApp {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.newTaskInput {
  width: 100%;
  padding: 4px 4px;
  font-size: 18px;
}

.tasksActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.taskItem span {
  padding-bottom: 4px;
}

.taskTabs {
  display: flex;
  gap: 6px;
}

.activeTab,
.activeTab:hover,
.activeTab:focus,
.activeTab:focus-visible {
  border: none;
  color: #646cff;
  outline: none;
}

@media screen and (max-width: 768px) {
  .taskApp {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .tasksActions {
    flex-direction: column;
    gap: 20px;
  }

  .taskTabs {
    font-size: 1.2rem;
  }

  .taskItem > input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .taskItem input[type="checkbox"]:checked::after {
    top: 2px;
    right: 7px;
  }
}
