.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button.primary {
  font-size: 1em;
  font-weight: 500;
}

button.secondary {
  font-size: 0.8em;
  font-weight: 400;
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 50%;
  appearance: none;
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  clip-path: circle(50% at 50% 50%);
  appearance: none;
  color: rgb(238, 35, 35);
  accent-color: rgb(250, 250, 250);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: -1px;
  color: #77c0a0;
  background-color: transparent;
}

s {
  color: rgb(156, 156, 156);
}
